@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

/*GENERAL STYLES*/
html, body {
    background-color:  #F4F6FC;
    color: #6B708D;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

h1, h3, h4 {
    color: #292E47;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 2.50rem;
}
h3{
    font-size: 2.00rem;
}

h4 {
    font-size: 1.30rem;
}

.link-color {
    color: #072AC8;
}

a {
    text-decoration: none;
}

.button {
    background-color: #072AC8;
    color: white;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: none;
}

/*HEADER STYLES*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin: 2%;
    font-size: 1rem;
}

nav ul li a {
    color: #6B708D;
}

nav ul li a:hover {
    color: #072AC8;
}

.active {
    color: #072AC8;
    font-weight: bold;
}

header .button {
    display: none;
}

/*HERO-SECTION STYLES*/
#hero-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 830px;
}

#hero-section .container-img {
    width: 95vw;
    height: 490px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#hero-section #main-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0; 
}

#hero-section #card-1 {
    width: 200px;
    height: auto;
    z-index: 1;
    position: absolute;
    top: 0;
    left: -30px;
}

#hero-section #card-2 {
    width: 190px;
    height: auto;
    z-index: 1;
    position: absolute;
    bottom: -30px;
    right: -30px;
}

#hero-section .container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#hero-section p {
    font-size: 1.25rem;
}

#hero-section .container-links {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 1.5em 0;
}

#hero-section .container-links .link {
    font-size: 1em;
    color: #6B708D;
    font-weight: bold;
    margin-left: 2em;
}

/*CLIENT-SECTION STYLES*/

#client-section {
    display: none;
}

/*STYLES OF SECTIONS WITH CARDS*/
.width-section {
    width: 80vw;
    margin: auto;
}

.title-section {
    margin: 1em 0;
}

.container-cards {
    display: flex;
    flex-direction: column;
}

.container-cards .card {
    background-color: white;
    margin-bottom: 3rem;
    box-shadow: 0px 38.775508880615234px 77.55101776123047px 0px #0000001A;
}

.container-cards .card:hover {
    box-shadow: none;
}

.container-cards .card img {
    width: 100%;
    height: auto;
}

#services-section .icon {
    width: 80px;
    height: 80px;
    background-color: #ECF7FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#services-section .icon img {
    width: 60%;
    height: auto;
}

.container-cards .container-text {
    padding: 2rem;
    box-sizing: border-box;
}

.container-cards .container-text p {
    padding-bottom: 2.2rem;
    line-height: 1.75rem;
    font-size: 1.15rem;
}

.container-cards .container-text a:hover {
    font-weight: bold;
}

/*TESTIMONIAL-SECTION STYLES*/
#testimonial-section {
    display: grid;
    grid-template-areas: 
    'emoji1 emoji2'
    'text1 text1'
    'text2 text2'
    'profile profile'
    'emoji3 emoji4';
    text-align: center;
    background-image: url(img/testimonial-section/orbit.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #292E47;
    padding: 2rem 0.5rem;
}
#emoji-1 {
    grid-area: emoji1;
}
#emoji-2{
    grid-area: emoji2;
    justify-self: flex-end;
}
#emoji-3{
    grid-area: emoji3;
}
#emoji-4{
    grid-area: emoji4;
    justify-self: flex-end;
}

#testimonial-section h3 {
    color: white;
    margin: 1.5rem 0;
    grid-area: text1;
    padding: 0 2.5rem;
}

#testimonial-section h4 {
    color: #FFC600;
    font-weight: 500;
    line-height: 2.3rem;
    grid-area: text2;
    padding: 0 2.5rem;
    margin: 1rem auto 0.5rem;
}

#testimonial-section > img {
    max-width: 60%;
    height: auto;
}

#testimonial-section .circular-img {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

#testimonial-section .circular-img img {
    width: auto;
    height: 100%;
    margin-left: -10%;
}

#testimonial-section #profile-women {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    line-height: 0.3rem;
    grid-area: profile;
    margin: 2rem auto;
}

#testimonial-section #profile-women #name {
    color: #A2D6F9;
}
#testimonial-section #profile-women #company {
    color: white;
    font-size: 0.8rem;
    font-weight: lighter;
}

/*CTA-SECTION STYLES*/
#cta-section {
    background-color: #FFC600;
    text-align: center;
    padding: 4rem 0 6rem;
}

#cta-section p {
    color: #292E47;
    font-size: 1.4rem;
}

#cta-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#cta-section form div {
    display: flex;
    align-items: center;
}

#cta-section form label {
    width: 0;
}

#cta-section form label img {
    position: relative;
    left: 1rem;
}

#cta-section form input {
    border: none;
    padding: 2rem 0 2rem 5rem;
    width: 100%;
    margin: 1rem 0;
    color: #292E47;
    font-size: 1.2rem;
}

#cta-section form button {
    padding: 2rem;
    font-size: 1.2rem;
}

/*FOOTER STYLES*/

#footer {
    margin-top: 7rem;
}

#footer-links {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 2rem 0 3rem;
}

#footer-links .grid-item{
    text-align: center;
    padding: 1rem;
}

/*PROJECTS PAGE STYLES*/
/*MAIN-PROJECT STYLES*/

#main-project img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#main-project .container-info p {
    text-align: justify;
    line-height: 1.75rem;
    font-size: 1.15rem;
}

/*CONTACT-US PAGE STYLES*/
#contact-form h1 {
    margin: 5rem 0 4rem;
}

#contact-form form {
    display: flex;
    flex-direction: column;
}

#contact-form form input, textarea {
    background-color: rgba(107, 112, 141, 0.1);
    border: none;
    padding: 1rem;
    margin: 0.5rem 0 1.5rem;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

/*DESKTOP STYLES*/

@media (min-width: 960px) {

    html, body {
        font-size: 16px;
    }

    /*HEADER STYLES*/
    header {
        justify-content: space-between;
        width: 80vw;
        margin: 1.5rem auto;
    }

    nav {
        width: 30%;
    }

    nav ul {
        justify-content: space-between;
    }

    header .button {
        display: inline;
    }

    /*HERO-SECTION STYLES*/
    #hero-section {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 500px;
    }

    #hero-section .container-img {
        width: 500px;
        height: 500px;
        position: relative;
        top: 0px;
        right: 0px;
        overflow: hidden;
    }

    #hero-section #main-img {
        width: 400px;
        height: auto;
        position: absolute;
        top: 20px;
        left: 50px; 
    }

    #hero-section #card-1 {
        width: 220px;
        height: auto;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 15px;
    }

    #hero-section #card-2 {
        width: 200px;
        height: auto;
        z-index: 1;
        position: absolute;
        bottom: -45px;
        right: 10px;
    }

    #hero-section .container {
        width: 45%;
        height: 50%;
        text-align: left;
        justify-content: space-evenly;
    }

    #hero-section p {
        font-size: 1.15rem;
        line-height: 1.85rem;
    }

    #hero-section .container-links {
        justify-content: flex-start;
    }

    /*CLIENT-SECTION STYLES*/

    #client-section {
        display: flex;
        justify-content: space-between;
        padding: 3rem 0;
    }

    /*STYLES OF SECTIONS WITH CARDS*/
    .container-cards {
        flex-direction: row;
        justify-content: space-between;
    }

    .container-cards .card {
        width: 30%;
    }

    .container-cards .card img {
        width: 100%;
        height: 50%;
    }
}
